* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0%;
}

footer {
  height: auto;
  bottom: 0;
  left: 0;
  right: 0;
}

.pie-pagina {
  width: 100%;
  background-color: black;
  color: #fff;
  padding-top: 5px;
  position: relative;
  /* Nuevo */
}

.pie-pagina .grupo-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  flex-grow: 1;
  /* Agregado */
}


.pie-pagina .grupo-1 .box {
  flex: 1;
  margin: 0 10px;
}

.pie-pagina .grupo-1 .box figure img {
  width: 100%;
  max-width: 250px;
  margin-top: 5px;
  margin-bottom: auto;
}

.pie-pagina .grupo-1 .box h2 {
  margin-bottom: 10px;
  font-size: 18px;
  display: flex;
  justify-content: center;
}

.pie-pagina .grupo-1 .box p {
  margin-bottom: 10px;
  font-size: 14px;
  display: flex;
  justify-content: center;
}

.pie-pagina .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  margin-right: 10px;
  background-color: black;
  text-align: center;
  transition: all 300ms ease;
  justify-content: center;
}

.pie-pagina .grupo-1 .red-social {
  display: flex;
  justify-content: center;
}

.pie-pagina .grupo-1 .red-social a:hover.fa-youtube {
  color: rgb(240, 0, 40);
}


.pie-pagina .grupo-2 {
  background-color: rgb(41, 41, 41);
  padding: 10px;
  text-align: center;
}

.pie-pagina .grupo-2 small {
  font-size: 12px;
}

@media screen and (max-width: 768px) {
  footer {
    height: auto;
    margin-top: 30px;
  }

  .pie-pagina .grupo-1 {
    flex-direction: column;
    align-items: center;
  }

  .pie-pagina .grupo-1 .box {
    margin-top: 10px;
  }

}