Nav {
  background-color: #000000;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 10;
}

* {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

li {
  display: flex;
  align-items: center;
  margin: auto;
}

li:last-child {
  margin-right: 90px;
}

li {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s ease;
}

li:hover {
  color: #00ffea;
  transform: scale(1.2);
}

a {
  text-decoration: none;
}

.logo {
  display: inline-block;
  width: 250px;
}

/* Estilos para el contenedor del botón */
.content-below-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.custom-button {
  padding: 12px 24px;
  /* Espaciado interno del botón */
  font-size: 18px;
  /* Tamaño de fuente */
  font-weight: bold;
  /* Negrita */
  color: #fff;
  /* Color de texto */
  background-color: #00e9d5;
  /* Color de fondo del botón */
  border: none;
  /* Quitamos el borde */
  border-radius: 5px;
  /* Bordes redondeados */
  text-decoration: none;
  /* Quitamos el subrayado del enlace */
  cursor: pointer;
  /* Cambia el cursor al pasar por encima */
  transition: background-color 0.3s ease;
  /* Transición suave */
}

.custom-button:hover {
  background-color: #0056b3;
  /* Cambio de color al pasar el cursor */
}

.banner-container {
  position: relative;
  width: 100%;
  text-align: center;
}

.banner {
  width: 100%;
  height: auto;
}

.active {
  color: #00ffea;
}

.icon {
  margin-right: 10px;
  font-size: 30px;
}

.text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffff;
  width: 100%;
}

.phrase {
  font-size: 50px;
}

.key-words {
  font-size: 22px;
}