.not-found-container {
  position: relative;
  text-align: center;
  margin-top: 50px;
  height: 100vh;
}

.ErrorTitles {
  position: absolute;
  top: 20px; /* Ajusta la distancia desde la parte superior */
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  margin-bottom: 20px;
  z-index: 1; /* Asegura que el texto esté encima */
  width: 100%; /* Ocupa todo el ancho disponible */
}

.ErrorText {
  position: absolute;
  top: 120px; /* Ajusta la distancia desde la parte superior */
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.2rem;
  color: black;
  z-index: 1; /* Asegura que el texto esté encima */
  width: 100%; /* Ocupa todo el ancho disponible */
}

.not-found-container::after {
  content: '';
  position: absolute;
  bottom: 100px; /* Ajusta la distancia desde la parte inferior */
  left: 50%;
  transform: translateX(-50%);
  width: 320px; /* Ajusta el ancho de la imagen */
  height: 400px; /* Ajusta la altura de la imagen */
  background-image: url('./water.png');
  background-size: contain; /* Ajusta el tamaño de la imagen */
  background-repeat: no-repeat;
  z-index: 0; /* Asegura que la imagen esté detrás del texto */
}
