.not-found-container {
  position: relative;
  text-align: center;
  margin-top: 10vh;
  height: 80vh;
}

.ErrorTitles {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  margin-bottom: 20px;
  z-index: 1;
  width: 100%;
}

.ErrorText {
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.2rem;
  color: black;
  z-index: 1;
  width: 100%;
}

.not-found-container::after {
  content: '';
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  width: 320px;
  height: 400px;
  background-image: url('./water-5f16a5ab.png');
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 0;
}

/* Media queries para hacerlo responsivo */
@media screen and (max-width: 768px) {
  .ErrorTitles {
    font-size: 1.5rem;
  }

  .ErrorText {
    font-size: 1rem;
  }

  .not-found-container::after {
    width: 240px;
    height: 300px;
  }
}

@media screen and (max-width: 480px) {
  .ErrorTitles {
    font-size: 1.2rem;
  }

  .ErrorText {
    font-size: 0.9rem;
  }

  .not-found-container::after {
    width: 160px;
    height: 200px;
  }
}
